
body {
    font-family: Calibri, sans-serif;
    color: #000000;
    
    background-image: url('/images/background/background-poly-white.png');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

p {
    color: #202020;
    font-size: 12pt;
}

.copyright {
    color: #858585;
    font-size: 2pt;
}

#header {
    background: linear-gradient(#fafafa, #ececec);
}

#footer {
    height: 100px;
    padding: 10px;

    background: linear-gradient(#ececec, #fafafa);
}

#footer p {
    color: #858585;
    font-size: 8pt;
}

#content {
    padding: 50px 25px 100px 25px;
    bottom: 0px;
    min-height: 100%;
    background-color: #fafafa;
}